#chatpirate-logo {
  width: 300px;
  height: 94px;
  background-image: url("../img/logo.png");
}

.chatpirate-header-text {
  font-size: 15px;
  display: block;
}

.gototext {
  display: block;
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  font-size: 14px;
}

.btn_chatpirate_login {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 0px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 0px 0px rgba(50, 50, 50, 0.5);
  background: #f7af2e; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7af2e 0%, #e18326 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7af2e), color-stop(100%,#e18326)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7af2e 0%,#e18326 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7af2e 0%,#e18326 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7af2e 0%,#e18326 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7af2e 0%,#e18326 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7af2e', endColorstr='#e18326',GradientType=0 ); /* IE6-9 */
}

.btn_chatpirate_login:hover {
  border-color: #333333;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e18326+0,f7af2e+100 */
  background: #e18326; /* Old browsers */
  background: -moz-linear-gradient(top,  #e18326 0%, #f7af2e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e18326), color-stop(100%,#f7af2e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e18326 0%,#f7af2e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e18326 0%,#f7af2e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e18326 0%,#f7af2e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e18326 0%,#f7af2e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e18326', endColorstr='#f7af2e',GradientType=0 ); /* IE6-9 */
}

.chatpirate-form {
  float: left;
}


.chatpirate-form fieldset {
  border: none;
  padding: 0;
}

.chatpirate-form fieldset .fieldset-wrapper {
  padding: 0;
}

.chatpirate-form input[type="submit"] {
  background: transparent;
  border: 1px solid #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 16px;
  text-shadow: none;
  color: #000000;
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}

#logout-form {
  display: none;
}

#logout,
#create_account,
#create_account_after_logout {
  display: block;
  margin: 0px 0 20px 0;
  font-size: 16px;
  clear: both;
}

#create_account_after_logout {
  display: none;
  float: left;
}
